* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn {
  padding: 0.5em 2.5em;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #191442;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.btn.active {
  background-color: #191442;
  color: #fff;
}

.modalOuter {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 7969769;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalBox {
  width: 30%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.heading,
.drag {
  font-weight: 600;
  color: #191442;
}

.drag {
  margin-top: 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.drag .browse {
  display: inline-block;
  color: #fe8d57;
}

.file-label {
  cursor: pointer;
}

.instruction,
.info {
  color: #6f6c78;
}

.heading {
  font-size: 25px;
}

.instruction {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 14px;
}

.drag {
  font-size: 18px;
}

.info {
  font-size: 12px;
}

.btn-container {
  display: flex;
  border: solid 0.1px;
  border-radius: 5px;
}

.uploadBox,
.signBox {
  padding: 2em;
  border: 2px dashed #7866e3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Tab Container */

.Tabs {
  width: 100%;
  height: auto;
  min-height: 300px;
  border-radius: 2rem;
}

/* Tab Navigation */

ul.nav {
  width: 80%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d9d4f3;
  border-radius: 0.5rem;
}

ul.nav li {
  width: 50%;
  padding: 0.5rem 2em;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.5em;
  color: #191442;
  font-size: 13px;
  font-weight: 600;
}

ul.nav li.active {
  background: #191442;
  color: #fff;
}

/* First and Second Tab Styles */

.upload-icon {
  font-size: 2em;
  color: #7866e3;
}

.fileIcon {
  display: none;
}

.filename {
  font-size: 12px;
}
